@import './base.css';

body {
    font-family: var(--mainFont);
    background-color: #f7f5f5;
}

.header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 15px 0px;
}

.header .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;

}

.header .logo img {
    width: 35px;
}

.header .logo a {

    color: var(--mainColor);
}

.menu {
    display: none;

}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;


}

.navbar ul li a {
    color: rgba(16, 25, 40, 1);
}

.active {
    font-weight: 900;
}

.auth {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;

}

.auth a {
    font-family: var(subFont);
    border-radius: 10px;
    font-weight: 700;
}

.auth .login {
    border: 1px solid var(--mainColor);
    padding: 5px 31px;
    color: var(--mainColor);
}

.auth .register {
    color: #fff;
    padding: 6px 20px;
    background-color: var(--mainColor);
}


@media screen and (max-width : 945px) {

    .navbar,
    .auth {
        display: none;
    }

    .menu {
        display: block;
    }

}

@media screen and (max-width : 335px) {


    .header .logo img {
        width: 25px;
    }

    .header .logo a {
        font-size: 15px;
    }
}
